/* myStyle.css */

.grid-container {
  align-items: center;
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  border: black;
  height:45%;
  margin:0;

}

.block{
  height: 95%;
  margin-top: 2.5%;
}

.item1{
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  height: 100%;
  
}

.item2{
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  height: 100%;
 
}

.item3{
  border-bottom: 3px solid white;
  height: 100%;
 
}

.item4{
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  height: 100%;
 

}

.item5{
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  height: 100%;
  
}

.item6{
  border-bottom: 3px solid white;
  height: 100%;
 
}

.item7{
  border-right: 3px solid white;
  height: 100%;
 
}

.item8{
  border-right: 3px solid white;
  height: 100%;
 
}

.item9{
  height: 100%;
 
}


/* main{
  height:100%;
  width:100%;
} */

.center-container{
height:45%;
display: flex;
justify-content: center;
}

html, body{
  padding: 0;
  margin: 0;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
  background-color: black;
}


main{
  height:100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */

}

h1{
  display: flex;
  margin:0;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 50px;
  padding-top: 16px;
  color: white;
}


.players{
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  height:auto;
  margin-bottom: 4%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding:20px;
  position: relative;
}

.turn{
  border: solid 2px white;
}

.players1and2{
  padding: 15px;
  position: absolute;
  top:15px;
}

 .oselected{
  background-image: url("./images/2.png");
 background-size: contain;
 

} 

/* .oselected{
   width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    background-color: rgba(0, 0, 0, 0);
    pointer-events:none;
    margin:auto;
    padding:22px;
    margin-top:24px;

} */

.xselected{
  background-image: url("./images/1.png") ;
  background-size: contain;
  
}

.start-button{
  background-color: black;
  color: white;
  border: solid 2px white;
  text-align: center;
  font-family: Helvetica;
  font-size: 25px;
  padding:10px 20px;
  width:200px;
  
}

.center-button{
  width: 100vw;
  display: flex;
  padding-top: 25px;
  flex-direction: column;
  align-items: center;
}

.naughts{
  height: 35px;
}

.crosses{
  height: 35px;
}

.player1-info{
display: inline block;
}

.player2-info{
  display: inline block;

}

.winner{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: white;
  display: contents;
}

.play-again{
  display: block;
  color: white;
  border: solid 1px white;
  background-color: black;
  font-size: 20px;
  padding: 5px 10px;
  margin-top: 25px;
}

.play1Score{
 color: white;
 position: static;
}

.playe2Score{
  color: white;
  position:static;
}



