.grid-container {
  align-items: center;
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  border: black;
  height: 45%;
  margin: 0;
}

.block {
  height: 100%;
}

.item1 {
  border-right: 3px solid white;
  height: 100%;
}

.item2 {
  border-right: 3px solid white;
  height: 100%;
}

.item3 {
  height: 100%;
}

.item4 {
  border-right: 3px solid white;
  border-top: 3px solid white;
  height: 100%;
}

.item5 {
  border-right: 3px solid white;
  border-top: 3px solid white;
  height: 100%;
}

.item6 {
  border-top: 3px solid white;
  height: 100%;
}

.item7 {
  border-right: 3px solid white;
  border-top: 3px solid white;
  height: 100%;
}

.item8 {
  border-right: 3px solid white;
  border-top: 3px solid white;
  height: 100%;
}

.item9 {
  height: 100%;
  border-top: 3px solid white;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

html,
body {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: grid;
  grid-template-areas:
    "whitespace header space1"
    "sidebar content space2";

  grid-template-columns: 2fr 4fr 2fr;
  grid-template-rows: auto auto auto;
  column-gap: 30px;
  row-gap: 30px;
  margin: 0 auto;
  max-width: 70%;
  transition: all 0.5s;
}

header {
  grid-area: header;
  margin-top: 20px;
}

aside {
  grid-area: sidebar;
}

section {
  grid-area: content;
}

.players {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  height: auto;
  flex-direction: column;
  margin-bottom: 4%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 20px;
  border: solid white 1px;
}

.turn {
  text-decoration: underline;
}

.players1and2 {
  padding: 10px;
  position: absolute;
  top: -5px;
}

.oselected {
  background-image: url("./images/2.png");
  background-size: contain;
}

.xselected {
  background-image: url("./images/1.png");
  background-size: contain;
}

.start-button {
  background-color: black;
  color: white;
  border: solid 2px white;
  text-align: center;
  font-family: Helvetica;
  font-size: 25px;
  padding: 10px 20px;
  width: 200px;
}

.start-button:hover {
  text-decoration: underline;
}

.center-button {
  padding-top: 45px;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
}

.sign1 {
  height: 35px;
}

.sign2 {
  height: 35px;
}

.player1-info {
  /* display: inline block; */
  position: relative;
}

.player2-info {
  position: relative;
  margin-top: 50px;
}

.winner {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: white;
  display: contents;
}

.play-again {
  display: block;
  color: white;
  border: solid 1px white;
  background-color: black;
  font-size: 20px;
  padding: 5px 10px;
  margin-top: 25px;
}

.play-again:hover {
  text-decoration: underline;
}

.play1Score {
  color: white;
  position: static;
}

.playe2Score {
  color: white;
  position: static;
}

.pageTitle {
  width: 550px;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media screen and (max-width: 1202px) {
  main {
    display: grid;
    grid-template-areas:
      "whitespace header"
      "sidebar content ";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto;
    column-gap: 0px;
    row-gap: 30px;
    margin: 0 auto;
    max-width: 100%;
    transition-delay: 0.5s;
  }
}

@media screen and (max-width: 748px) {
  main {
    display: grid;
    grid-template-areas:
      "header"
      "content "
      "sidebar";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 0px;
    row-gap: 30px;
    margin: 0 auto;
    max-width: 95%;
    transition-delay: 0.5s;
  }

  .players {
    margin: 10px;
    transition-delay: 1s;
    font-size: 15px;
  }

  .grid-container {
    align-items: center;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    border: black;
    height: 45%;
    margin: 0;
  }

  .pageTitle {
    width: 400px;
  }

  .start-button {
    font-size: 15px;
    width: 125px;
  }

  .players1and2 {
    padding: 10px;
    position: absolute;
    top: -5px;
    display: inline;
  }

  header {
    margin-top: 30px;
  }

  .winner {
    font-size: 25px;
  }

  .play-again {
    font-size: 15px;
  }
}

@media screen and (max-width: 400px) {
  .grid-container {
    align-items: center;
    display: grid;
    grid-template-columns: 90px 90px 90px;
    grid-template-rows: 90px 90px 90px;
    border: black;
    height: 45%;
    margin: 0;
  }

  .pageTitle {
    width: 300px;
  }

  main {
    display: grid;
    grid-template-areas:
      "header"
      "content "
      "sidebar";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 0px;
    row-gap: 30px;
    max-width: 250px;
    transition-delay: 0.5s;
  }
}

@media screen and (max-width: 1024px) and (max-height: 1366px) {
  main {
    display: grid;
    grid-template-areas:
      "header"
      "content "
      "sidebar";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 0px;
    row-gap: 30px;
    max-width: 700px;
    transition-delay: 0.5s;
  }
}

.edit {
  width: 20px;
}

.pop-up {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.pop-up-content {
  width: 400px;
  height: 350px;
  background-color: white;
  opacity: 1;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #b8b7b7;
}

input[type="submit"]:hover {
  background-color: black;
  color: white;
}

.close {
  position: absolute;
  top: 0;
  right: 4px;
  font-size: 35px;
  transform: rotate(45deg);
  cursor: pointer;
}

.restart {
  position: absolute;

  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
}

.error-handler {
  background-color: rgba(241, 10, 10, 1);
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.error-message {
  color: white;
}

.winner-color {
  background-color: grey;
}
